{% extends 'layout.html' %} {% block body%}

<body class="login-page sidebar-collapse">
    <!--div class="page-header clear-filter text-dark" filter-color="orange"-->
        <div class="page-header-image" style="background-image:url(static/bg.jpg)"></div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-lg" style="padding-top: 20px;">
                <div class="card ">
                    <div class="card-header mt-2 text-center">
                        Design Survey
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <form method="POST" action="">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">ADD TITLE</label>
                                    <textarea class="form-control" id="titlex" name="title" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                            </form>
                        </h4>
                        <p class="card-text">
                            <form method="POST" action="">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">ADD Header</label>
                                    <textarea class="form-control" id="headerx" name="header" id="exampleFormControlTextarea1" rows="2"></textarea>
                                </div>
                            </form>
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Add Questions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-toggle="modal" data-target="#singlechoice">Single choice</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#multiplechoice">Multiple choice</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#simplequestion">Text area</a>
                            </div>
                        </div>
                        <!--div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Toggle Drag Mode
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item on">on</a>
                                <a class="dropdown-item off">off</a>
                            </div>
                        </div-->
                        <button class="btn btn-primary btn-round" type="button" data-toggle="modal" data-target="#save">
                            <i class="now-ui-icons ui-2_save-28"></i> Save and Publish Survey
                        </button>
                    </div>
                    <div class="wrapper">
                        <ul class="content wrap" id="wrap" style="list-style-type: none;">

                            <!--div class="alert alert-light text-dark" role="alert">
                                <div class="container">
                                    <div class="alert-icon">
                                        <i class="now-ui-icons ui-2_like"></i>
                                    </div>
                                    <strong>Design Survey!</strong> Click on add questions to add sections and Drag to arrange.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="now-ui-icons ui-1_simple-remove text-dark"></i>
                                        </span>
                                    </button>
                                </div>
                            </div-->
                        </ul>
                    </div>


                    <div class="card-footer text-muted mb-2">

                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    <!--/div-->
    <!--simple question-->
    <div class="modal fade" id="simplequestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Simple Text field</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">ADD QUESTION</label>
                            <textarea class="form-control" id="sqtext" rows="1"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="sqbutton" class="btn btn-primary">Add to survey</button>
                </div>
            </div>
        </div>
    </div>
    <!--multiple choice-->
    <div class="modal fade" id="multiplechoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Multiple Choice Questions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">ADD QUESTION</label>
                            <textarea class="form-control" id="mcquestion" rows="1"></textarea>
                            <br>
                            <label for="exampleFormControlTextarea1">add choices line by line</label>
                            <textarea class="form-control" id="mcchoices" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="mcbutton" class="btn btn-primary">Add to survey</button>
                </div>
            </div>
        </div>
    </div>
    <!--Single choice-->
    <div class="modal fade" id="singlechoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Single Choice Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">ADD QUESTION</label>
                            <textarea class="form-control" id="scquestion" rows="1"></textarea>
                            <br>
                            <label for="exampleFormControlTextarea1">add choices line by line</label>
                            <textarea class="form-control" id="scchoices" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="schoice" class="btn btn-primary">Add to survey</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save Survey</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">SURVEY NAME
                                <small>must not contain white spaces</small>
                            </label>
                            <textarea class="form-control" id="namex" name="surveyname" id="surveyname" rows="1"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closex" data-dismiss="modal">Close</button>
                        <button type="button" id="savebutton" class="btn btn-primary">Save and Publish Survey</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="static/assets/js/plugins/drag-sort.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#wrap').dragSort({
            replaceStyle: {
                'background-color': '#f96332',
                'border': '1px dashed #ddd'
            },
            dragStyle: {
                'position': 'fixed',
                'box-shadow': '1px 1px 2px 0 #f96332'
            }
        });
        $('.seq').click(function () {
            console.log($(this).attr("id")); //IT WORKS!

        });

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $.fn.changeElementType = function (newType) {
            var newElements,
                attrs,
                newElement;

            this.each(function () {
                attrs = {};

                $.each(this.attributes, function () {
                    attrs[this.nodeName] = this.nodeValue;
                });

                newElement = $("<" + newType + "/>", attrs).append($(this).contents());

                $(this).replaceWith(newElement);

                if (!newElements) {
                    newElements = newElement;
                } else {
                    $.merge(newElements, newElement);
                }
            });

            return $(newElements);
        };
        $(".off").click(function () {
            $(".content").attr("class", "content");
            $(".content").attr("id", "noid");
            $($('.wrapper').find('ul').get().reverse()).each(function () {
                $(this).replaceWith($('<ol>' + $(this).html() + '</ol>'))
            })
            //$( "body" ).off("dragstart");
            console.log("drag offf");
        });
        $(".on").click(function () {

            $($('.wrapper').find('ol').get().reverse()).each(function () {
                $(this).replaceWith($('<ul class="wrap content" id="wrap">' + $(this).html() + '</ul>'))
            })
            //$(".content").addClass("wrap")
            //$(".content").attr("id", "wrap");
            console.log("drag on");
        });
        $("#savebutton").click(function () {
            var named=$('#namex').val();
            named=named.replace("  ", " ");
            named=named.split(' ').join('-');
            named=named.replace("/", "*");
            var valuex = $('#titlex').val() + "*" + $('#headerx').val() + "*" + named + "*" + $('.content').html() + "*" + $('.alert').length;
            console.log(valuex);
            $(".closex").click();
            $.ajax({
                type: 'POST',
                url: "{{ url_for('parse_data') }}",
                contentType: 'application/json;charset=UTF-8',
                //data : {'data':valuex},
                data: JSON.stringify(valuex),
                //contentType: 'application/json',
                success: function (data) {
                    // do something with the received data
                    window.location.href = "/publish";
                }
            });
            console.log("drag on");
        });
        $(document).ready(
            function () {
                console.log("uiuiui");
            })
        $('#sqbutton').on('click', function () {
            var txtValue = $('#sqtext').val();
            console.log(txtValue);
            $(".content").append(`<li><div class="alert alert-light text-dark" role="alert">

                            <div class="containerx">
                                
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">` + txtValue + `</label>
                            <textarea class="form-control" id="" rows="1"></textarea>

                        </div>

                    
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove text-dark"></i>
                                    </span>
                                </button>     
                            </div>
                        </div></li>`);
        });
        $('#schoice').on('click', function () {
            var txtValue = $('#scquestion').val();
            var choices = ""
            var lines = $('#scchoices').val().split('\n');
            for (var i = 0; i < lines.length; i++) {
                choices += "<option>" + lines[i] + "</option>"
            }

            console.log(txtValue);
            $(".content").append(`<li><div class="alert alert-light text-dark" role="alert">

                            <div class="containerx">
                               
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">` + txtValue + `</label>
                            <select class="form-control" id="exampleFormControlSelect1">
      ` + choices + `
    </select>

                        </div>

                    
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove text-dark"></i>
                                    </span>
                                </button>     
                            </div>
                        </div></li>`);
        });
        $('#mcbutton').on('click', function () {
            var txtValue = $('#mcquestion').val();
            var choices = ""
            var lines = $('#mcchoices').val().split('\n');
            for (var i = 0; i < lines.length; i++) {
                choices += `<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" >
									<span class="form-check-sign"></span>
									` + lines[i] + `
								</label>
							</div>`
            }

            console.log(txtValue);
            $(".content").append(`<li><div class="alert alert-light text-dark" role="alert">

                            <div class="containerx">
                                <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">` + txtValue + `</label>
                            <form class="form-control" id="exampleFormControlSelect1">
      ` + choices + `
    </form>

                        </div>

                    </form>
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove text-dark"></i>
                                    </span>
                                </button>     
                            </div>
                        </div></li>`);
        });

    </script>
 <script src="static/assets/js/core/jquery.min.js" type="text/javascript"></script>
 <script src="static/assets/js/core/popper.min.js" type="text/javascript"></script>
 <script src="static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
</body>

{%endblock%}