{% extends 'layout.html' %} {% block body%}
<body class="login-page sidebar-collapse">
<style>
    .lookalive {

        overflow: scroll;
    }

    .kiox {
        height: 200px;
        width: 400px;


        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
</style>

<!--body class="login-page sidebar-collapse"-->
<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(static/assets/img/bg4.jpg)"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"><div class="kio">
            <h1>UH OH :(</h1>
            <br></br>
            <h2>Something went wrong</h2>
            <br></br>
            <h5>
            <a  href="/contact" class="btn btn-round btn-primary">Maybe Alert us</a>
            
            <a  href="/" class="btn btn-neutral bg-transparent">Go Back home</a>
            <button type="button" class="btn btn-neutral bg-transparent" data-container="body" data-toggle="popover" data-placement="top" data-content="{{session['error']}}">
                    More info . . .
                  </button>
        </h5>
        
        </div></div>
        <div class="col-2"></div>
      </div>
    
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="static/assets/js/plugins/drag-sort.js" type="text/javascript"></script>
<script type="text/javascript">

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>


</script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--   Core JS Files   -->
    <script src="static/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="static/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--script type="text/javascript" src="{{ url_for('static', filename='assets/js/design.js') }}"></script-->
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="static/assets/js/plugins/bootstrap-switch.js"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="static/assets/js/main.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="static/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--  Google Maps Plugin    -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>

    <script src="static/assets/js/core/jquery.min.js"></script>
    <script src="static/assets/js/core/popper.min.js"></script>
    <script src="static/assets/js/core/bootstrap.min.js"></script>
    <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="static/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="static/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="static/assets/js/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript"></script>
    <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <!--script src="static/assets/demo/demo.js"></script-->
    <!--script src="static/assets/demo/demo.js"></script-->
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="static/assets/js/now-ui-kit.min.js?v=1.2.0" type="text/javascript"></script>
    <!-- Sharrre libray -->


<!--/body-->

{%endblock%}